<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.edu.pe">
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RetrofitEmp">
        <activity
            android:name=".MainEditar"
            android:label="Editar Empleado"
            android:theme="@style/Theme.RetrofitEmp.NoActionBar"></activity>
        <activity
            android:name=".MainNuevo"
            android:label="Nuevo Empleado"
            android:theme="@style/Theme.RetrofitEmp.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="Listado de Empleados"
            android:theme="@style/Theme.RetrofitEmp.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>